<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Remove traditional SMS permissions as they're not needed with SMS Retriever API -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_SMS" /> -->
    <!-- <uses-permission android:name="android.permission.READ_SMS" /> -->
    
    <application>
        <!-- SMS Retriever Receiver -->
        <receiver
            android:name=".SmsRetrieverReceiver"
            android:exported="true"
            android:permission="com.google.android.gms.auth.api.phone.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
